.DS_Store

*.bak.[a-z]*

.vscode/launch.json
.vscode/settings.json

.ropeproject

app/animations
bibliography/
sandbox/
stubs/
todo/
docs/*.ipynb

docs/matplotlib.get_configdir/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PDF
*.pdf

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST



# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/


node_modules/
package-lock.json
